# Introdução

In [1]:
#@title  Código 1
import pandas as pd
import requests
import json

In [2]:
#@title Código 2
url = 'https://apiloterias.com.br/app/resultado?loteria=megasena&token=rLJmLqTkvJJGTPw&concurso=2440'

In [3]:
#@title Código 3
r = requests.get(url)
# print json content
#print(r.json())
df = pd.read_csv('https://raw.githubusercontent.com/francisconetodata/loteria_jogo/main/MV_teste.csv')

# Resultado

O concurso da mega da virada 2021/22 é 2440 - Verificar se o número do concurso coincide com o mostrado abaixo:

In [4]:
#@title Dados do concurso 
print('Resultado da Mega Sena')
print('\nConcurso:')
print(r.json()['numero_concurso'])
print('\nResultado:')
print(r.json()['dezenas'])

Resultado da Mega Sena

Concurso:
2440

Resultado:
['12', '15', '23', '32', '33', '46']

# Tratamento

In [5]:
#@title Tratamento de dados { display-mode: "form" }
resultados = (r.json()['dezenas'])
int_list = list(map(int, resultados))
resultado = int_list
#resultado
numeros = df.drop(columns='Jogo')
vetor_resultado = []
vetor_nome_resultado = []
colunas = numeros.columns
for i in range(len(numeros)):
  contador = 0
  for j in colunas:
    if numeros[f'{j}'][i] in resultado:
      contador = contador + 1
  vetor_resultado.append(contador)
  if contador == 0:
    vetor_nome_resultado.append('Nenhum Acerto')
  elif contador == 1:
    vetor_nome_resultado.append('Um Acerto')
  elif contador == 2:
    vetor_nome_resultado.append('Dois Acertos')
  elif contador == 3:
    vetor_nome_resultado.append('Terno')
  elif contador == 4:
    vetor_nome_resultado.append('Quadra')
  elif contador == 5:
    vetor_nome_resultado.append('Quina')
  else:
    vetor_nome_resultado.append('Mega!!!')


numeros['Quantidade acertos'] = vetor_resultado
numeros['Nome do resultado'] = vetor_nome_resultado
topresulta = numeros.groupby('Nome do resultado').agg({ 'Quantidade acertos':'count'}).sort_values(by='Quantidade acertos' )

# Resultado final

In [6]:
topresulta

                   Quantidade acertos
Nome do resultado
Terno                               2
Dois Acertos                       21
Um Acerto                          61
Nenhum Acerto                     105

In [7]:
numeros

     Número 1  Número 2  ...  Quantidade acertos  Nome do resultado
0           1        11  ...                   1          Um Acerto
1          15        23  ...                   2       Dois Acertos
2           3        10  ...                   0      Nenhum Acerto
3           7        30  ...                   0      Nenhum Acerto
4          22        33  ...                   1          Um Acerto
..        ...       ...  ...                 ...                ...
184        12        14  ...                   1          Um Acerto
185         2         6  ...                   1          Um Acerto
186         2        13  ...                   2       Dois Acertos
187        12        28  ...                   2       Dois Acertos
188        11        24  ...                   1          Um Acerto

[189 rows x 8 columns]